.searchWrapper{
    background: rgba(0, 0, 0, 0.6);
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
}

.searchInput{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;

}

.sectionTitle{
    font-weight: bold;
    margin-top: 30px;
    text-align: center;

}
.searchViewTitle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ProductFilter{
    display:flex;
}

.ProductFilter h1{
    flex-grow: 1;
}

.sort{
    display: flex;
}

.CollectionSort{

    display:flex;
    flex-direction: column;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
}
@media (max-width: 600px) {
    .product-card {
      flex: 1 46%;
    }
}

@media (max-width: 480px) {
    .ProductFilter {
      flex-direction: column;
    }
    .sort {
        align-self: flex-start;
      }
}



@media(min-width:768px) {
    .CardList{
        width:80%;
        margin-top: 0;
    }
}
